{% extends "layout.html" %}

{% block content %}
<div class="main-content">
    <h2 class="hero-title">📫 Contact Me</h2>
    <div class="content-block contact-info">
        <p>Email: <a href="mailto:bibhudattaprusty99@gmail.com">bibhudattaprusty99@gmail.com</a></p>
        <p>LinkedIn: <a href="https://linkedin.com/in/bibhudatta-prusty-78a427327" target="_blank">linkedin.com/bibhudatta-prusty-78a427327</a></p>
        <p>GitHub: <a href="https://github.com/BIBHU005" target="_blank">github.com/BIBHU005</a></p>
    </div>
</div>
{% endblock %}
